@import url('https://fonts.googleapis.com/css?family=Roboto:100i');
@import url('https://fonts.googleapis.com/css?family=Eczar:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Cormorant:300,400,500');

/* colors */
:root {
    --blue-grey: #34454F;
    --tan: #DBA884;
    --off-white: #F0F0F0;
    --black: #1c1c1c;
    --dark-grey: #3B3B3B;
}


/* resets */
* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 16px;
}

html, body {
    height: 100%;
}

/* nav styles */
nav {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: var(--black);
    display: flex;
    
}

nav .linkHolder {
    display: flex;
    margin: auto;
    width: 100%;
}

nav .linkHolder a {
    margin: auto;
    text-decoration: none;
    color: #fff;
}

nav .hamburgerIcon {
    display: none;
}

nav a:hover {
    opacity: 0.8;
}

/* section styles */
.large {
    min-height: 100%;
    width: 100%;
    
}
.little {
    height: 30%;
    
}

/* home styles */

.home {
    display: flex;
    margin: 0;
    background-image: url('../images/homeBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.home div {
    margin: auto;
    color: white;
    height: 100px;
    background-color: rgba(28,28,28, 0.8);
    display: flex;
    width: 400px;
    border-radius: 10px;
}

.home div h1 {
    margin: auto;
    font-family: 'Eczar', serif;
}

/* sale styles */

.sale {
    background-color: #F7F5F8;
    height: 20%;
    display: flex;
}

.sale div {
    margin: auto;
    font-size: 35px;
}

.sale div span {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 5px;
}

/* Products styles */

.products {
    background-image: url('../images/productsBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    min-height: 100%;
}

.grid-container {
    display: flex;
    /* justify-content: space-between; */
}

.grid-container .item {
    width: 100%;
    background-color: rgba(247,245,248, 0.5);
    height: 50%;
    display: flex;
    
    margin: auto;
    transition: 0.3s;
}
.grid-container .item:hover {
    background-color: rgba(247,245,248, 0.8);
}
.grid-container .item img:hover {
    max-height: 75%;
}

.grid-container .item img {
    max-height: 70%;
    margin: auto;
}

.grid-container .item .item-info {
    padding: 20px 20px 0 0;
}

.grid-container .item .item-info h4 {
    margin-bottom: 0px;
}



/* logo section styles */

.logo-container {
    display: flex;
}

.logos {
    background-color: #F7F5F8;
}

.logo-container .logo {
    width: 100%;
    height: 100%;
    display: flex;
}

.logo-container .logo img {
    max-height: 100%;
    max-width: 70%;
    margin: auto;
}

/* categories styles */

.categories {
    height: 30%;
}
.category-container {
    display: flex;
}
.category-container .category {
    width: 100%;
    height: 100%;
    display: flex;
}

.backwoods {
    background-image: url('../images/backwoodsCollection.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    font-family: 'Eczar', serif;
    font-size: 40px;
    font-weight: 600;
    color: white;
    display: flex;
    text-align: center;
}
.backwoods h2 {
    margin: auto;
}

.running {
    background-image: url('../images/runningGear.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    font-family: 'Eczar', serif;
    font-size: 40px;
    font-weight: 600;
    color: white;
    display: flex;
    text-align: center;
}
.running h2 {
    margin: auto;
}


.clearence {
    background-image: url('../images/clearenceItems.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    font-family: 'Eczar', serif;
    font-size: 40px;
    font-weight: 600;
    color: white;
    display: flex;
    text-align: center;
}
.clearence h2 {
    margin: auto;
}

.tents {
    background-image: url('../images/backpackingTents.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    font-family: 'Eczar', serif;
    font-size: 40px;
    font-weight: 600;
    color: white;
    display: flex;
    text-align: center;
}
.tents h2 {
    margin: auto;
}

.backwoods:hover, .running:hover, .clearence:hover, .tents:hover {
    opacity: 0.8;
}

/* about styles */
.about {
    display: flex;
}
.aboutText {
    height: 100%;
    max-width: 30%;
    background-color: #21475B;
    font-family: 'Cormorant', serif;
    
    color: white;
    text-align: center;
    display: flex;
    float: left;
}

.aboutHeader {
    margin: auto;
    padding: 0px 20px;
}

.aboutBody {
    margin: auto;
    width: 50%;
    
}

.aboutText h1 {
    font-size: 80px;
    font-weight: 500;
    margin: auto;

}
.aboutText p {
    margin: auto;
}

/* contact styles */

.contact {
    background-image: url('../images/leaves-pattern.png');
    display: flex;
}

.container {
    width: 80%;
    min-height: 50%;
    background-color: rgba(247,245,248,0.7);
    border-radius: 10px;
    margin: auto;
    padding-bottom: 30px;
}

.container h1 {
    padding-top: 30px;
}



/* footer styles */

footer {
    display: flex; 
    min-height: 300px;
}

footer .left-column {
    background-color: var(--dark-grey);
    width: 100%;
    text-align: left;
    display: flex;
}
footer .left-column div {
    margin: auto;
    font-family: 'Eczar', serif;
    
}
footer .left-column h3 {
    color: var(--off-white);
    font-family: 'Eczar', serif;
}
footer .left-column div a {
    text-decoration: none;
    color: var(--off-white);
}
footer .left-column div a:hover {
    text-decoration: underline;
    color: var(--off-white);
}
footer .middle-column {
    background-color: var(--dark-grey);
    width: 100%;
    display: flex;
}
footer .middle-column div {
    margin: auto;
    text-align: center;
    font-family: 'Eczar', serif;
    color: var(--off-white);
}

footer .middle-column div input {
    border-radius: 5px;
}
footer .right-column {
    background-color: var(--dark-grey);
    width: 100%;
    display: flex;
}
footer .right-column div {
    margin: auto;
    text-align: center;
    font-family: 'Eczar', serif;
    color: var(--off-white);
}
footer .right-column div i:hover {
    opacity: 0.5;
}

@media only screen and (max-width: 1050px) {
    .grid-container {
        display: block;
    }

    .grid-container .item {
        display: inline-block;
        
    }

    .grid-container .item-info {
        float: right;
        width: 255px;
        font-size: 50px;
        margin-right: 50px;
    }

    .grid-container .item-info h4 {
        font-size: 60px;
    }

    .grid-container .item img {
        margin-left: 50px;
    }
}

@media only screen and (max-width: 769px) {
    .grid-container {
        display: block;
    }

    .grid-container .item {
        display: inline-block;
        
    }

    
    .grid-container .item-info {
        float: right;
        width: 255px;
    }
}
@media only screen and (max-width: 415px) {

    nav {
        justify-content: flex-start;
    }

    nav .linkHolder {
        position: absolute;
        top: 70px;
        width: 200px;
        background-color: var(--off-white);
        color: var(--black);
        height: 150px;
        display: block;
        left: -200px;
    }

    nav .linkHolder a {
        display: block;
        margin: 10px 0 0 5px;
        color: var(--black);
    }
    
    nav .hamburgerIcon {
        display: block;
        color: var(--off-white);
        margin: auto 0 auto 20px;
    }

    .home div {
        height: 75px;
        width: 250px;
    }
    .home div h1 {
        font-size: 26px;
    }
    .grid-container .item .item-info {
        float: right;
        width: 100%;
        padding-left: 20px;
        text-align: center;
        padding: 20px 20px;
        font-size: 20px;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .grid-container .item {
        border-top: black 1px solid;
        justify-content: center;
    }
    .grid-container .item-info h4 {
        font-size: 20px;
    }
    .grid-container .item img {
        display: block;
        margin: auto;
        padding-top: 20px;
    }
    .categories {
        min-height: 80%;
    }
    .category-container {
        display: block !important;
    }

    .category-container .category {
        width: 100%;
        height: 25%;
        display: flex;
    }
    .sale {
        height: 10%;
    }
    .sale div {
        font-size: 16px;
    }

    .about {
        display: inline-block;
        
    }

    .aboutText {
        float: none;
        max-width: 100%;
        height: 40%;
    }
    .aboutBody {
        float: none;
        width: 100%;
        padding: 20px 20px;
    }

    footer {
        display: block;
    }

    footer .left-column div {
        padding: 20px 0 20px 0;
    }

    footer .middle-column div {
        padding: 20px 0 20px 0;
    }

    footer .right-column div {
        padding: 20px 0 20px 0;
    }
    
}